.gameengine-snackbar-action {
    position: absolute;
    bottom: 20px;
    left: 35%;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 12px 72px -8px rgba(16, 24, 40, 0.25);
    background: var(--gameengine-background);
    color: var(--gameengine-font-color);
    border: 1px solid var(--gameengine-border-color);
    border-radius: var(--gameengine-surface-radius);
    padding: 12px;
    .gameengine-btn {
        padding: 8px 16px;
        &--restore {
            background: rgba(114, 114, 114, 0.12);
            color: var(--gameengine-warn-muted);
            &:hover {
                background: rgba(114, 114, 114, 0.12);
            }
        }
        &--delete, &--trash-delete {
            background: var(--gameengine-error-strong);
            color: #FFF;
            &:hover {
                background: var(--gameengine-error-strong);
            }
        }
        &--close {
            padding: 8px;
        }
        &--draft {
            padding: 8px;
            border: 1px solid var(--gameengine-border-color);
            background: transparent;
            color: var(--gameengine-text-color);
        }
        &--publish {
            padding: 8px;
            color: #FFF;
            background: var(--gameengine-success-strong);
            &:hover, &:focus {
                background: var(--gameengine-success-strong);
            }
        }
    }
    
    &__before, &__after {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
    &__before {
        .gameengine-snackbar-action__right {
            .gameengine-btn {
                &--trash {
                    background: var(--gameengine-error-strong);
                    color: #FFF;
                }
            }
        }
    }
    &__left, &__right {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__left {
        .gameengine-snackbar-action__items-length {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            span { 
                width: 58px;
                height: 30px;
                padding: 4px 8px;
                border: 1px solid var(--gameengine-border-color);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p {
                margin: 0;
            }
        }
    }

    .gameengine-btn--confirm {
        background: var(--gameengine-error-strong);
        color: #FFF;

        &:hover {
            background: var(--gameengine-error-strong);
        }
    }
}