.gameengine-wp-modal {
       width: 420px;
}

// react formik modal
body.ReactModal__Body--open {
       overflow: hidden;
}

.gameengine-modal-overlay {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background: rgba(41, 42, 46, 0.28);
       overflow-y: scroll;
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 9999;
       transition: opacity 300ms ease-in-out;

       &--after-open {
              opacity: 1;
       }

       &--before-close {
              opacity: 0;
       }

       &--top {
              align-items: flex-start;
              padding-top: 20px;
       }

       &--bottom {
              align-items: flex-end;
              padding-bottom: 20px;
       }

       &--center {
              align-items: center;
       }
}

.gameengine-modal {
       position: relative;
       background: #fff;
       border-radius: 8px;
       outline: none;
       animation: gameengine-modal-fade-in 0.3s ease-in-out forwards;
       margin: 0 auto;
       height: fit-content;

       &--small {
              width: 600px;
       }

       &--medium {
              width: 1020px;
       }

       &--large {
              width: calc(100vw - 17px);
              min-height: 100vh;
       }

       &__head {
              display: flex;
              gap: 10px;
              justify-content: space-between;
              flex-direction: row;
              align-items: center;
              padding: 20px 24px;
              border-bottom: 1px solid var(--gameengine-border-color);

              .gameengine-modal-buttons {
                     display: flex;
                     align-items: center;
                     gap: 8px;

                     button {
                            padding: 8px;
                            background: #fff;
                            color: #111;
                            border: 1px solid var(--gameengine-border-color) !important;
                            border-radius: 4px;
                            display: flex;
                            transition: all .3s ease;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;
                            cursor: pointer;

                            &:hover {
                                   border-color: var(--gameengine-primary-color) !important;
                            }
                     }
              }
       }

       &__content {
              background: #fff;
              padding: 24px;
       }

       &__footer {
              display: flex;
              justify-content: flex-end;
              gap: 16px;
              margin: 0 24px;
              padding: 20px 0;
              border-top: 1px solid var(--gameengine-border-color);
              background: #fff;
       }
}

// modal scrollbar hide
.gameengine-modal {
       &__content {
              -ms-overflow-style: none; /* for Internet Explorer, Edge */
              scrollbar-width: none; /* for Firefox */
              overflow-y: scroll;
       }

       &__content::-webkit-scrollbar {
              display: none; /* for Chrome, Safari, and Opera */
       }
}

@keyframes gameengine-modal-fade-in {
       from {
              opacity: 0;
              transform: scale(0.95) translateY(10px);
       }

       to {
              opacity: 1;
              transform: scale(1) translateY(0);
       }
}

@keyframes gameengine-modal-fade-out {
       from {
              opacity: 1;
              transform: scale(1) translateY(0);
       }

       to {
              opacity: 0;
              transform: scale(0.95) translateY(10px);
       }
}
