.gameengine-admin-notice {
	font-family: var(--gameengine-font) sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid var(--gameengine-border-color);

	* {
		font-family: var(--gameengine-font) sans-serif;
	}

	&:first-child {
		border-top: 0;
	}

	&__wrapper {
		display: flex;
		gap: 12px;
		align-items: center;
		margin: 0;
		padding: 16px 24px;
	}

	&.notice-large {
		padding: 0;

		.gameengine-admin-notice__wrapper {
			padding: 20px;
		}
	}

	&__icon {
		position: relative;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: var(--gameengine-primary-color);
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: center;

		.gameengine-icon {
			font-size: 20px;

			&::before {
				color: #ffffff;
			}
		}

		span {
			display: inline;
			font-size: 50px;
			color: var(--gameengine-primary-color);
		}
	}

	&__content {
      font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: var(--gameengine-font-color);
		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: var(--gameengine-font-color);
			margin: 0;
			padding: 0;

			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}
	}

	&__control {
		.gameengine-btn {
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			line-height: 17px;
			padding: 12px 35px;
			text-transform: none;
		}
	}

	&.notice {
		&-info {
			.gameengine-admin-notice__icon {
				background: var(--gameengine-primary-color);
			}
		}

		&-success {
			.gameengine-admin-notice__icon {
				background: #10b981;
			}
		}

		&-warning {
			.gameengine-admin-notice__icon {
				background: var(--gameengine-warning);
			}
		}

		&-error {
			border-left-color: var(--gameengine-placing);

			.gameengine-admin-notice__icon {
				background: var(--gameengine-placing);
			}
		}
	}

	&-close {
		&.notice-dismiss {
			&::before {
				display: none;
			}

			.gameengine-icon {
				display: flex;
				font-size: 20px;
			}
		}
	}
}
