:root {
    --gamify-font: "Roboto", sans-serif;
    --gamify-primary: #006BFF;
    --gamify-second-primary: #8F7EE7;
    --gamify-border-color: #CBD1D7;
    --gamify-body-background: #F6F7F8;
    --gamify-background: #FFFFFF;
    --gamify-font-color: #141A24;
    --gamify-secondary: #738496;
    --gamify-warn-muted: #738496;
    --gamify-placing: #F15B50;
    --gamify-warning: #FDB022;
    --gamify-placeholder: #A2ADB9;
    --gamify-shadow: 0px 0px 1px 0px rgba(20, 26, 36, 0.2), 0px 1px 2px 0px rgba(20, 26, 36, 0.1);
    --gamify-shadow-2: 0px 0px 1px 0px rgba(16, 24, 40, 0.15), 0px 8px 16px 0px rgba(20, 26, 36, 0.1);
    --gamify-gray: #F6F7F8;
}

