.gameengine-table {
    background: #fff;
    padding: 24px;
}

// suffix
.gameengine-table {
    &--logs-table {
        .gameengine-table__subheader {
            border-bottom: 1px solid var(--gameengine-border-color);
            margin-bottom: 12px;
            padding-bottom: 8px;
        }
    }
}
