.gameengine-table {
    background: #fff;
    padding: 24px;
}

// suffix
.gameengine-table {
    &--logs-table {
        .gameengine-table__sub-header-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .gameengine-table__sub-header-left-items {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}
