.gamify-table {
    background: #fff;
    padding: 24px;
    &__sub-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--gamify-border-color);
    }

    .gamify-table-flex-col {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

// suffix
.gamify-table {
    &--logs-table {
        .gamify-table__sub-header-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .gamify-table__sub-header-left-items {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}
