.gamify-select {
    &--width-full {
        width: 100%;
    }

    &--65 {
        width: 65px;
    }

    &--120 {
        width: 120px;
    }

    &--136 {
        width: 136px;
    }

    &--140 {
        width: 140px;
    }

    &--150 {
        width: 150px;
    }

    &--164 {
        width: 164px;
    }

    &--214 {
        width: 214px;
    }

    &--200 {
        width: 200px;
    }

    &--250 {
        width: 250px;
    }

    &--300 {
        width: 300px;
    }

    font-size: 14px;

    .gamify-select {
        &__control {
            border: 1px solid #CBD1D7;
            background: #FFF;
            border-radius: 4px;
            box-shadow: none;

            .gamify-select__input-container {
                .gamify-select__input {
                    box-shadow: none;
                    height: 100%;
                    min-height: unset;
                }
            }
        }

        &__control:hover {
            border: 1px solid #CBD1D7;
        }

        &__indicator-separator {
            display: none;
        }
    }

    &--transparent {
        .gamify-select {
            &__control {
                border: none;
            }

            &__placeholder {
                font-size: 14px;
                color: var(--gamify-font-color);
                font-weight: 500;
            }

            &__indicator-separator {
                display: none;
            }

            &__dropdown-indicator {
                padding: 8px 8px 8px 0;
                color: var(--gamify-font-color);
                font-weight: 500;
            }
        }
    }
}
